@{
    ViewBag.Title = "Encurtador de URL´s - B2e";
}

<div class="jumbotron">
    <img src="~/imgs/b2egroup-2.png" alt="Sistema B2e" />
    <br />
    <br />
    <br />
    <p><a href="~/api/stats" class="btn btn-primary btn-lg">Estatísticas &raquo;</a></p>
</div>